  body {
	font-family: 'Noto Sans TC', sans-serif;

}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: 'Noto Sans TC', sans-serif;
}

.container {
	font-family: 'Noto Sans TC', sans-serif;
}

.pagination.justify-content-center{
	margin: 0 auto;
}

.col-lg-6 {
	padding: 20px;
}


.container {
	margin: auto;
	padding: auto;
}

.team-member img {
    width: 14rem;
    height: 14rem;
    border: 0.5rem solid rgba(0, 0, 0, 0.1);
	border-radius: 50% ;
	box-sizing: border-box;
	margin-right: auto ;
    margin-left: auto ;
	margin-bottom: 3rem;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) / -2);
    margin-left: calc(var(--bs-gutter-x) / -2);
    vertical-align: middle;
}


.btn-social.mx-2 {
	height: 2.5rem;
    width: 2.5rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border-radius: 100%;
	margin-right: 0.5rem ;
    margin-left: 0.5rem ;
	color: #fff;
    background-color: #0033FF;
    border-color: #0033FF;
}